/* stylesheet */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    color: white;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    align-items: center;
    padding: 0 96px 72px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 12px;
    font-weight: 300;
}


.one {
    display: flex;
    justify-content: space-between;
    padding: 0 96px 72px;
    gap: 32px;
    background: #1f2937;
    color: white;
    
}

.one-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 460px;
    max-height: 220px;
}

.title-one {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text-one {
    font-size: 18px;
    color: #e5e7eb;
}

.button-one {
    background: #3882F6;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 4px 22px;
    align-self: start;
}

.penguins {
    height: 220px;
    width: 320px;
    border-style: none;
    border-radius: 0;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px 0 58px;
}

.title {
    font-size: 20px;
    font-weight: 800;
}

.container-icons {
    display: flex;
    justify-content: center;
    gap: 42px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 2px;
}

.info {
    max-width: 118px;
    text-align: center;
    
}

.three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    
}

.quote {
    width: 774px;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    text-align: left;   
    margin: 0 0 4px 0;
}

.author {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
    width: 774px;
    margin: 0;
    
}


.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
    

.four-one {
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 2px;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 52px;
    margin: 120px;
    width: 774px;
    flex-shrink: 0;
}

.header-title {
    font-weight: 700;
    margin: 0 0 2px 0;
}

.text {
    font-size: 14px;
    font-weight: 400;
}

button.sign-up {
    background: #3882F6;
    color: white;
    border-style: solid;
    border-radius: 4px;
    border-color: white;
    padding: 4px 22px;
    border-width: 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 22px 0;
    background: #1f2937;
    color: white;
}