/* stylesheet */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    color: white;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    align-items: center;
    padding: 0 36px;
    margin: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 12px;
    font-weight: 300;
}

img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 2px;
}


.main {
    display: flex;
    justify-content: space-between;
    padding: 36px;
    background: #1f2937;
    color: white;
    
}

.one-left {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 22px;
}

.one-right {
    display: flex;
    
}

.container-icons {
    display: flex;
    justify-content: center;
    gap: 42px;
    max-width: 680px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.info {
    max-width: 118px;
    text-align: center;
    
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
}

.title {
    font-size: 20px;
    font-weight: 800;
}